#app {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    min-width: 550px;
    max-width: 850px;
    margin: 0 auto;
}

a.active {
    color: orange;
}

nav {
    padding-top: 20px;
}

.picture {
    height: 150px;
    width: 100%;
    padding-bottom: 5px;
    padding-left: 5px;
}

.element-padding {
    padding-bottom: 20px
}

.info-section {
    color: #4F4B4B;
    padding-left: 20px;
}