<div>
    <section class="col-md-6">
        <h4>Who Are We ?</h4>
        <div class="element-padding">
            At Val Home Service, we are focused on providing the best services with the highest 
            levels of customer satisfaction – we will do everything we can to meet your <br/>expectations.
            <br/><br/>With a variety of offerings to choose from, we’re sure you’ll be happy working with us. 
            Look around our website and if you have any comments or questions.
        </div>
        <br/>
        <a routerLink="/contact" class="btn btn-primary btn-md">Feel free to contact us</a>
    </section>
    <section class="col-md-6">
        <h4>Why Us?</h4>
        Choose a reliable service.
        We will make sure that the work is done properly and efficiently.
        We offer a variety of services and are fully insured for the work we carry out.
        <br/>
        <br/>
        <img src="../../images/about_us.jpg" class="col-md-12 element-padding" />
        <div class="col-md-12">Call on 07713 758164 for a free quote!</div>
    </section>
</div>
