<div *ngIf="data">
    <h2>{{data.pageTitle}}</h2>
    <p>We offer a variety of services and are fully insured for the work we carry out.</p>
    <div *ngFor="let section of data.sections" class="row">
        <div class="col-md-7">
            <h4>{{section.heading}}</h4>
            <ul>
                <li *ngFor="let item of section.items">{{item}}</li>
            </ul>
        </div>
        <div class="col-md-5">
            <img src='{{section.imageUrl}}' class="thumbnail picture" />
        </div>
    </div>
</div>
