<div *ngIf="data">
    <h4>We offer a variety of services and are fully insured for the work we carry out.</h4>
    <div *ngFor="let section of data.sections" class="row">
        <div class="col-md-4">
            <h5>{{section.heading}}</h5>
            <ul>
                <li *ngFor="let item of section.items">{{item}}</li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src='{{section.imageUrl}}' class="picture" style="margin-top: 40px; height:200px; width: 300px;" />
        </div>
    </div>
</div>
